body {
    font-family: raleway;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgb(2, 0, 36) 0%, rgb(2, 2, 73) 100%);
    color: #c9c9c9;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.navli {
    list-style-type: none;
}

figcaption {
    font-size: 8pt;
}

/* -- Header -- */
header {
    background-color: transparent;
}

header nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: left;
}

header nav ul li {
    display: block;
}

header nav ul li a {
    display: block;
    padding: 32px 36px;
    text-decoration: none;
    text-align: left;
    color: white;
}

header nav ul li a:hover {
    background-color: rgb(12, 0, 65);
    color: white;
}

/* -- Footer -- */
footer {
    color: white;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: blue;
}

#footer {
    background-color: transparent;
    padding: 24px;
    display: inline-block;
    width: 95%;
}

/* -- Form -- */
.form {
    display: grid;
    justify-items: center;
    justify-content: left;
    grid-template-areas:
        'fullname email'
        'phone subject'
        'message message'
        'button button';
}

.form .fullname {
    grid-area: fullname;
}

.form .email {
    grid-area: email;
}

.form .phone {
    grid-area: phone;
}

.form .subject {
    grid-area: subject;
}

.form .message {
    grid-area: message;
}

.form .button {
    height: 30px;
    width: 200px;
    background: transparent;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.form input {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #ffffff;
    min-width: 250px;
    height: 50px;
}

.form textarea {
    background: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid #ffffff;
    min-width: 550px;
    height: 150px;
}

.form ::placeholder {
    color: white;
    padding-bottom: 10px;
}

.form button:hover {
    background: rgba(255, 255, 255, 0.5);
    color: black;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

/* -- Contact List -- */
/*
.discordli {
    list-style-type: none;
    list-style-image:url(images/Discord-Logo-Black.png);
}
.lichessli {
    list-style-type: none;
    list-style-image:url(images/lichess.png);

}
.emaili {
    list-style-type: none;
}
*/