body {
    font-family:raleway;
}
.navli {
    list-style-type:none;
  }
#discordli {
    list-style-image:url(images/Discord-Logo-Black.png);
}
#lichessli {
    list-style-image:url(images/lichess.png);
}
header {
    background-color:slategrey;
}
header nav ul li a {
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    color:white;
}
header nav ul li a:hover {
    background-color: darkblue;
    color:white;
}
h2 {
    text-align: center;
    color:white;
}
